<!doctype html>
<html lang="en">

<%- include('./partials/head') %>
<body>

    <main>
        <section class="hero-section">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="text-center mb-5 pb-2">
                            <h1 class="text-white">Get Started with Free Tech Books </h1>

                            <p class="text-white">Log it everywhere. Explore your favourite technology books.</p>
                            
                            <p class="text-white">Sign Up, Get Awesome Tech Book with One Click.....</p>

                            <a href="/users/login" class="btn custom-btn smoothscroll mt-3">Login</a>
                            <a href="/users/register" class="btn custom-btn smoothscroll mt-3">Register</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>