<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link href="/css/templatemo-pod-talk.css" rel="stylesheet">
    <!--

TemplateMo 584 Pod Talk

https://templatemo.com/tm-584-pod-talk

-->
</head>

<%- include('./partials/head') %>

<body>

    <main>


        <%- include('./partials/navbar') %>


        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="mb-0">New User</h2>
                    </div>
                </div>
            </div>
        </header>
        <section class="about-section" id="section_2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 justify-content-center align-items-center d-flex flex-column">
                                <h4 class="col-lg-12 text-center">REGISTER</h4>
                                <hr>
                                <div class="subscribe-form-wrap">
                                    <form method="POST" action="/users/register">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" class="form-control"><br>
                                        <label for="email">Email</label>
                                        <input type="email" name="email" class="form-control"><br>
                                        <label for="username">Username</label>
                                        <input type="text" name="username" class="form-control"><br
                                        <label for="password">Password</label>
                                        <input type="password" name="password" class="form-control"><br>
                                        <label for="password2">Confirm Password</label>
                                        <input type="password" name="password2" class="form-control"><br>
                                        <div class="col-lg-12 col-12">
                                            <button type="submit" class="form-control btn btn-success">Register</button>
                                        </div>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>